<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PagPrincipal-Reto01</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">

    <link type="text/css" href="/css/style_Base.css" rel="stylesheet">

</head>
    <body>
        <div style="margin-bottom: 20px;"></div> <!-- Espacio -->

            <!-- **************************** Sección Titulo Principal **************************************** -->
            <div class="row g-0 bordeDivRojo">
                <div class="col-lg-1 bordeDivRojo" align="right">  <!-- Div Columna 1 Izquierda -->
                <!-- Columna Vacia -->
                </div>

                <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Div Columna 2 Centro - Login -->
                    <h1><a href="" class="text-light">Pagina Principal </a><span><a href="" style="color: #00ac98"> - Reto 01</a></span></h5>
                </div>

                <div class="col-lg-1 bordeDivRojo" align="left"> <!-- Div Columna 3 Derecha -->
                    <!-- Columna Vacia -->
                </div>
            </div>
            <!-- **************************** Termina Sección Titulo Principal ******************************** -->

            <div style="margin-bottom: 30px;"></div> <!-- Espacio -->

            <!-- **************************** Sección Titulo Modulo **************************************** -->
            <div class="row g-0">
                <div class="col-lg-4" align="right">  <!-- Div Columna 1 Izquierda -->
                <!-- Columna Vacia -->
                </div>

                <div class="col-lg-4" align="center"> <!-- Div Columna 2 Centro - Login -->
                    <h1 class="text-light">Bienvenido <span style="color: #00ac98">{{% usuario %}}</span></h5>
                </div>

                <div class="col-lg-4" align="left"> <!-- Div Columna 3 Derecha -->
                    <!-- Columna Vacia -->
                </div>
            </div>
            <!-- **************************** Termina Sección Titulo Modulo ******************************** -->

            <div style="margin-bottom: 50px;"></div> <!-- Espacio -->

            <!-- **************************** Row 3 - iconos Menu ********************************* -->
            <div class="row g-0">
                <div class="col-lg-1" align="center">  <!-- Div Columna 1 Izquierda -->

                </div>

                <div class="col-lg-2" align="center"> <!-- Div Columna 3 Derecha -->
                    <!-- <div>
                        <a href="/Templates/GestionCategrias.html" style="background-color: Transparent;
                        background-repeat:no-repeat;border: none;overflow: hidden;">
                        <img src="/imagenes/Categoria.png" width="115" height="120"></a>
                    </div>
                    <div>
                        <a href="/Templates/GestionCategrias.html" style="font-weight:bold; color:#FFB233">Gestión de Categorías</a>
                    </div> -->
                </div>

                <div class="col-lg-2" align="center">  <!-- Div Columna 1 Izquierda -->
                    <!-- <div>
                        <a href="/Templates/GestionBarcos.html" style="background-color: Transparent;
                        background-repeat:no-repeat;border: none;overflow: hidden;">
                        <img src="/imagenes/Barcos1.png" width="115" height="120"></a>
                    </div>
                    <div>
                        <a href="#" style="font-weight:bold; color:#FFB233">Gestión de Barcos</a>
                    </div> -->
                </div>

                <div class="col-lg-2" align="center"> <!-- Div Columna 3 Derecha -->
                    <!-- <div>
                        <a href="/Templates/GestionClientes.html" style="background-color: Transparent;
                        background-repeat:no-repeat;border: none;overflow: hidden;">
                        <img src="/imagenes/Registro.png" width="115" height="120"></a>
                    </div>
                    <div>
                        <a href="/Templates/GestionClientes.html" style="font-weight:bold; color:#FFB233">Gestión de Clientes</a> -->
                    </div>
                </div>

                <div class="col-lg-2" align="center"> <!-- Div Columna 3 Derecha -->
                    <!-- <div>
                        <a href="/Templates/GestionReservas.html" style="background-color: Transparent;
                        background-repeat:no-repeat;border: none;overflow: hidden;">
                        <img src="/imagenes/Calendar.png" width="115" height="120"></a>
                    </div>
                    <div>
                        <a href="/Templates/GestionReservas.html" style="font-weight:bold; color:#FFB233">Gestión de Reservas</a>
                    </div> -->
                </div>

                <div class="col-lg-2" align="center"> <!-- Div Columna 3 Derecha -->
                    <!-- <div>
                        <a href="/Templates/GestionInformes.html" style="background-color: Transparent;
                        background-repeat:no-repeat;border: none;overflow: hidden;">
                        <img src="/imagenes/Informes.png" width="115" height="120"></a>
                    </div>
                    <div>
                        <a href="/Templates/GestionInformes.html" style="font-weight:bold; color:#FFB233">Informes</a>
                    </div> -->
                </div>

                <div class="col-lg-1" align="center"> <!-- Div Columna 3 Derecha -->
                    <!-- Columna Vacia -->
                </div>
            </div>

            <!-- **************************** Termina Row 3 - iconos Menu ************************* -->

            <div style="margin-bottom: 50px;"></div> <!-- Espacio -->

            <div class="row g-0">

                <div class="col-lg-3" align="center"> <!-- Div Columna 3 Derecha -->

                </div>

                <div class="col-lg-6" align="center">  <!-- Div Columna 1 Izquierda -->
                    <label for="">Autores:</label>
                    <!-- <li><u>Lina Daniela Alfonso Prieto</u></li> -->
                    <!-- <li><u>Luis Carlos Reyes Guerrero</u></li> -->
                    <li><u>Gloria Stella Torres Barrero</u></li>
                    <li><u>Johan Andres Ramirez Zapata</u></li>
                    <li><u>Luis Alejandro Duarte Carvajal</u></li>
                </div>

                <div class="col-lg-3" align="center"> <!-- Div Columna 3 Derecha -->

                </div>

            </div>

        <div style="margin-bottom: 60px;"></div> <!-- Espacio -->

                <!-- Para mostrar ventanas emergentes mas bonitas y pro, hay que instalar el sweetalert2 en django -->
                <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>


</html>