<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PagPrincipal-Reto01</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">

    <link type="text/css" href="/css/style_Base.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/MenuPrincipal.js"></script>

</head>
    <body>
        <div style="margin-bottom: 20px;"></div> <!-- Espacio -->

            <!-- **************************** Sección Titulo Principal ************************************* -->
            <div class="row g-0 bordeDivRojo">
                <div class="col-lg-1 bordeDivRojo" align="right">  <!-- Div Columna 1 Izquierda -->
                <!-- Columna Vacia -->
                </div>

                <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Div Columna 2 Centro - Login -->
                    <h1><label class="txtBlanco letraHeaderFoot centrar">Menú<span class="txtVerde"> Principal</span><span class="txtBlanco"> - Reto02 -</span><span class="txtVerde"> Ciclo04</span></label></h5>
                </div>

                <div class="col-lg-1 bordeDivRojo" align="left"> <!-- Div Columna 3 Derecha -->
                    <!-- Columna Vacia -->
                </div>
            </div>
            <!-- **************************** Termina Sección Titulo Principal ***************************** -->

            <!-- **************************** Row 2 - Sección Titulo Principal **************************************** -->
            <div class="row g-0 bordeDivRojo">
                <div class="col-lg-1 bordeDivRojo" align="right">  <!-- Div Columna 1 Izquierda -->
                <!-- Columna Vacia -->
                </div>

                <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Div Columna 2 Centro - Login -->
                    <h1><a href="" class="text-light">Para Atrás Como </a><span><a href="" class="txtVerdeBold"> el Cangrejo LTDA.</a></span></h5>
                </div>

                <div class="col-lg-1 bordeDivRojo" align="left"> <!-- Div Columna 3 Derecha -->
                    <!-- Columna Vacia -->
                </div>
            </div>
            <!-- **************************** Termina Row 2 - Sección Titulo Principal ******************************** -->

            <div style="margin-bottom: 5px;"></div> <!-- Espacio -->

             <!-- **************************** Sección Nav Bar ********************************************* -->
            <div class="row g-0 bordeDivRojo">
                <div class="col-lg-2 bordeDivRojo" align="right">  <!-- Div Columna 1 Izquierda -->
                <!-- Columna Vacia -->
                </div>

                <div class="col-lg-8 bordeDivRojo" align="center"> <!-- Div Columna 2 Centro - Login -->
                    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a1d0f1;">
                        <div class="container-fluid">
                            <a class="navbar-brand">
                                <img src="/Imagenes/LogoTranparent.png" alt="" width="60" height="60">
                            </a>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/Templates/GestionUsuarios.html">Gestion de Usuarios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link txtTransparente" aria-current="page">Espa</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Templates/GestionInventario.html">Gestión de Inventario</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link txtTransparente" aria-current="page">Espa</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Templates/login.html">Salir</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="col-lg-2 bordeDivRojo" align="left"> <!-- Div Columna 3 Derecha -->
                    <!-- Columna Vacia -->
                </div>
            </div>
            <!-- **************************** Termina Sección Nav Bar ************************************** -->

            <div style="margin-bottom: 30px;"></div> <!-- Espacio -->

            <!-- **************************** Sección Bienvenido Usuario X ********************************* -->
            <div class="row g-0">
                <div class="col-lg-2 bordeDivRojo" align="right">  <!-- Div Columna 1 Izquierda -->
                <!-- Columna Vacia -->
                </div>

                <div class="col-lg-8 bordeDivRojo" align="center"> <!-- Div Columna 2 Centro - Login -->
                        <h3 class="text-light">Bienvenido: <span class="inputUsu txtVerdeBold" type="text" name="varUsuario" id="varUsuario"></span></h3>
                </div>

                <div class="col-lg-2 bordeDivRojo" align="left"> <!-- Div Columna 3 Derecha -->
                    <!-- Columna Vacia -->
                </div>
            </div>
            <!-- **************************** Termina Sección Bienvenido Usuario X ************************* -->

            <div style="margin-bottom: 30px;"></div> <!-- Espacio -->

            <!-- **************************** Sección - Lista Integrantes Grupo ****************************** -->
            <div class="row g-0 bordeDivRojo">
                <div class="col-lg-3 bordeDivRojo" align="center"> <!-- Div Columna 3 Derecha -->

                </div>

                <div class="col-lg-6 bordeDivRojo" align="center">  <!-- Div Columna 1 Izquierda -->
                    <label for="">Autores:</label>
                    <!-- <li><u>Lina Daniela Alfonso Prieto</u></li> -->
                    <!-- <li><u>Luis Carlos Reyes Guerrero</u></li> -->
                    <li><u>Gloria Stella Torres Barrero</u></li>
                    <li><u>Johan Andres Ramirez Zapata</u></li>
                    <li><u>Luis Alejandro Duarte Carvajal</u></li>
                </div>

                <div class="col-lg-3 bordeDivRojo" align="center"> <!-- Div Columna 3 Derecha -->

                </div>
            </div>
            <!-- **************************** Sección - iconos Menu ****************************************** -->
    </body>
</html>