<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestionUsuarios-Reto01</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">

    <link type="text/css" href="/css/style_Base.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/GestionUsuarios.js"></script>

</head>
    <body>
        <div style="margin-bottom: 15px;"></div> <!-- Espacio -->

            <!-- **************************** Row 1 - Sección Logo ***************************************************** -->
            <div class="row g-0 bordeDivRojo">
                <div class="col-lg-1 bordeDivRojo" align="right">  <!-- Div Columna 1 Izquierda -->
                <!-- Columna Vacia -->
                </div>

                <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Div Columna 2 Centro - Login -->
                    <img src="/Imagenes/logoTransparente.png" alt="" width="100" height="80">
                </div>

                <div class="col-lg-1 bordeDivRojo" align="left"> <!-- Div Columna 3 Derecha -->
                    <!-- Columna Vacia -->
                </div>
            </div>
            <!-- **************************** Termina Row 1 - Sección Logo ********************************************* -->

            <!-- ************************* Row 1 - Titulo Modulo ******************************************************* -->
            <div class="row g-0">
                <div class="col-lg-4 bordeDivRojo" align="right">
                    <!-- Columna 1 Vacia -->
                </div>

                <div class="col-lg-4 bordeDivRojo" align="center"> <!-- Columna 2 -->
                    <label style="font-size: 200%" class="txtBlanco letraHeaderFoot">Nuevo<span class="txtVerde"> Usuario</span></label>
                </div>

                <div class="col-lg-4 bordeDivRojo" align="left">
                    <!-- Columna 3 Vacia -->
                </div>
            </div>
            <!-- ************************* Termina Row 1 - Titulo Modulo *********************************************** -->

            <div style="margin-bottom: 10px;"></div> <!-- Espacio -->

            <!-- **************************** Row 3 - Sección Form ***************************************************** -->
            <div class="row g-0">
                <div class="col-lg-4 bordeDivRojo" align="right">  <!-- Div Columna 1 Izquierda -->
                <!-- Columna Vacia -->
                </div>

                <div class="col-lg-4 bordeDivRojo" align="center"> <!-- Div Columna 2 Centro - Login -->

                    <form id="formCuadro" onsubmit="guardarUsuario()">

                        <div style="margin-bottom: 10px;"></div> <!-- Espacio -->

                        <!-- *************************** Row 4 - Input Num Identificación **************************************** -->
                        <div class="row g-0 bordeDivRojo">
                            <div class="col-lg-1 bordeDivRojo">
                                <!-- Columna 1 Vacia -->
                            </div>

                            <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Columna 2 -->
                                <div class="txtNaranjaBold bordeDivRojo" style="width: 80%; height: 25px" align="left">
                                    Número Identificación:
                                </div>

                                <div class="bordeDivRojo" style="width: 80%;" align="center">
                                    <input id="identification" name="identification" class="form-control" type="text" placeholder="Digite El Número de Identificación" required>
                                </div>
                            </div>

                            <div class="col-lg-1 bordeDivRojo">

                            </div>
                        </div>
                        <!-- *************************** Termina Row 4 - Input Num Identificación ******************************** -->

                        <div style="margin-bottom: 10px;"></div> <!-- Espacio -->

                        <!-- *************************** Row 5 - Input Nombre **************************************************** -->
                        <div class="row g-0 bordeDivRojo">
                            <div class="col-lg-1 bordeDivRojo">
                                <!-- Columna 1 Vacia -->
                            </div>

                            <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Columna 2 -->
                                <div class="txtNaranjaBold bordeDivRojo" style="width: 80%; height: 25px" align="left">
                                    Nombre:
                                </div>

                                <div class="bordeDivRojo" style="width: 80%;" align="center">
                                    <input id="name" name="name" class="form-control" type="text" placeholder="Digite Nombre" required>
                                </div>
                            </div>

                            <div class="col-lg-1 bordeDivRojo">

                            </div>
                        </div>
                        <!-- *************************** Termina Row 5 - Input Nombre ******************************************** -->

                        <div style="margin-bottom: 10px;"></div> <!-- Espacio -->

                        <!-- *************************** Row 6 - Input Dirección ************************************************* -->
                        <div class="row g-0 bordeDivRojo">
                            <div class="col-lg-1 bordeDivRojo">
                                <!-- Columna 1 Vacia -->
                            </div>

                            <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Columna 2 -->
                                <div class="txtNaranjaBold bordeDivRojo" style="width: 80%; height: 25px" align="left">
                                    Dirección:
                                </div>

                                <div class="bordeDivRojo" style="width: 80%;" align="center">
                                    <input id="address"  name="address" class="form-control" type="text" placeholder="Digite Nombre" required>
                                </div>
                            </div>

                            <div class="col-lg-1 bordeDivRojo">

                            </div>
                        </div>
                        <!-- *************************** Termina Row 6 - Input Dirección ***************************************** -->

                        <div style="margin-bottom: 10px;"></div> <!-- Espacio -->

                        <!-- *************************** Row 7 - Input Celular *************************************************** -->
                        <div class="row g-0 bordeDivRojo">
                            <div class="col-lg-1 bordeDivRojo">
                                <!-- Columna 1 Vacia -->
                            </div>

                            <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Columna 2 -->
                                <div class="txtNaranjaBold bordeDivRojo" style="width: 80%; height: 25px" align="left">
                                    Celular:
                                </div>

                                <div class="bordeDivRojo" style="width: 80%;" align="center">
                                    <input id="cellPhone" name="cellPhone" class="form-control" type="text" placeholder="Digite Celular" required>
                                </div>
                            </div>

                            <div class="col-lg-1 bordeDivRojo">

                            </div>
                        </div>
                        <!-- *************************** Termina Row 7 - Input Celular ******************************************* -->

                        <div style="margin-bottom: 10px;"></div> <!-- Espacio -->

                        <!-- *************************** Row 8 - Input Email ***************************************************** -->
                        <div class="row g-0 bordeDivRojo">
                            <div class="col-lg-1 bordeDivRojo">
                                <!-- Columna 1 Vacia -->
                            </div>

                            <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Columna 2 -->
                                <div class="txtNaranjaBold bordeDivRojo" style="width: 80%; height: 25px" align="left">
                                    Email:
                                </div>

                                <div class="bordeDivRojo" style="width: 80%;" align="center">
                                    <input id="email" name="email" class="form-control" type="email" placeholder="Digite Email" required>
                                </div>
                            </div>

                            <div class="col-lg-1 bordeDivRojo">

                            </div>
                        </div>
                        <!-- *************************** Termina Row 8 - Input Email ********************************************* -->

                        <div style="margin-bottom: 10px;"></div> <!-- Espacio -->

                        <!-- *************************** Row 9 - Input Password1 ************************************************* -->
                        <div class="row g-0 bordeDivRojo">
                            <div class="col-lg-1 bordeDivRojo">
                                <!-- Columna 1 Vacia -->
                            </div>

                            <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Columna 2 -->
                                <div class="txtNaranjaBold bordeDivRojo" style="width: 80%; height: 25px" align="left">
                                    Contraseña:
                                </div>

                                <div class="bordeDivRojo" style="width: 80%;" align="center">
                                    <input id="password" name="password" class="form-control" type="password" placeholder="Digite la Contraseña" required>
                                </div>
                            </div>

                            <div class="col-lg-1 bordeDivRojo">

                            </div>
                        </div>
                        <!-- *************************** Termina Row 9 - Input Password1 ***************************************** -->

                        <div style="margin-bottom: 10px;"></div> <!-- Espacio -->

                        <!-- *************************** Row 10 - Mensaje Contraseña ********************************************* -->
                        <div class="row g-0 bordeDivRojo">
                            <div class="col-lg-1 bordeDivRojo">
                                <!-- Columna 1 Vacia -->
                            </div>

                            <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Columna 2 -->
                                <div class="bordeDivRojo txtBlanco" style="width: 80%;" align="left">
                                    La contraseña debe tener mínimo 6 caracteres
                                </div>
                            </div>

                            <div class="col-lg-1 bordeDivRojo">

                            </div>
                        </div>
                        <!-- *************************** Termina Row 10 - Mensaje Contraseña ************************************* -->

                        <div style="margin-bottom: 10px;"></div> <!-- Espacio -->

                        <!-- *************************** Row 11 - Select Tipo Usuario **************************************************** -->
                        <div class="row g-0 bordeDivRojo">
                            <div class="col-lg-1 bordeDivRojo">
                                <!-- Columna 1 Vacia -->
                            </div>

                            <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Columna 2 -->
                                <div class="txtNaranjaBold bordeDivRojo" style="width: 80%; height: 25px" align="left">
                                    Tipo Usuario:
                                </div>

                                <div class="bordeDivRojo" style="width: 80%;" align="center">
                                    <select id="type" name="type" class="form-select form-select-md mb-3" aria-label=".form-select-lg example" required>
                                        <option value="">--- Seleccione Tipo Usuario ---</option>
                                        <option value="CoordinadorZona">Coordinador de Zona</option>
                                        <option value="AsesorComercial">Asesor Comercial</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-1 bordeDivRojo">

                            </div>
                        </div>
                        <!-- *************************** Termina Row 11 - Tipo Usuario ******************************************** -->

                        <!-- *************************** Row 12 - Select Zona **************************************************** -->
                        <div class="row g-0 bordeDivRojo">
                            <div class="col-lg-1 bordeDivRojo">
                                <!-- Columna 1 Vacia -->
                            </div>

                            <div class="col-lg-10 bordeDivRojo" align="center"> <!-- Columna 2 -->
                                <div class="txtNaranjaBold bordeDivRojo" style="width: 80%; height: 25px" align="left">
                                    Zona:
                                </div>

                                <div class="bordeDivRojo" style="width: 80%;" align="center">
                                    <select id="zone" name="zone" class="form-select form-select-sd mb-3" aria-label=".form-select-lg example" required>
                                        <option value="">--- Seleccione Zona ---</option>
                                        <option value="1">ZONA 1</option>
                                        <option value="2">ZONA 2</option>
                                        <option value="3">ZONA 3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-1 bordeDivRojo">

                            </div>
                        </div>
                        <!-- *************************** Termina Row 12 - Select Zona ******************************************** -->

                        <div style="margin-bottom: 10px;"></div> <!-- Espacio -->

                        <!-- *************************** Row 13 - Boton Ingresar ************************************************* -->
                        <div class="row g-0 bordeDivRojo">
                            <div class="col-lg-3 bordeDivRojo">
                                <!-- Columna 1 Vacia -->
                            </div>

                            <div class="col-lg-3 bordeDivRojo" align="center">
                                <button type="submit" class="btn btn-primary" style="width:80%">Guardar</button>
                                <div style="margin-bottom: 20px;"></div> <!-- Espacio -->
                            </div>

                            <div class="col-lg-3 bordeDivRojo" align="center">
                                <a href="\templates\GestionUsuarios.html" class="btn btn-danger" style="width:80%">Cancelar</a>
                            </div>

                            <div class="col-lg-3 bordeDivRojo">

                            </div>
                        </div>
                        <!-- *************************** Termina Row 13 - Boton Ingresar ***************************************** -->

                        <div style="margin-bottom: 10px;"></div> <!-- Espacio -->
                    </form>
                </div>

                <div class="col-lg-4 bordeDivRojo" align="left"> <!-- Div Columna 3 Derecha -->
                    <!-- Columna Vacia -->
                </div>
            </div>
            <!-- **************************** Termina Row 3 - Sección Form ********************************************* -->
    </body>
</html>